<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS variables</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h2>Update CSS Variables with <span class="hl">JS</span></h2>
    <div class="controls">
        <label for="spacing">Spacing:</label>
        <input type="range" id="spacing" name="spacing" min="10" max="200" data-sizing="px">
        <label for="blur">Blur:</label>
        <input type="range" id="blur" name="blur" min="0" max="25" value="10" data-sizing="px">
        <label for="base">Base color</label>
        <input type="color" id="base" name="base">
    </div>
    <img src="assets/pic_1.jpg" alt="Car">

<script src="scripts/script.js"></script>
</body>
</html>