<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drum Kit</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="base">
<div class="page-name">
    <span class="page-name--content">Street drumer</span>
</div>
<div class="keys">
    <div data-key="65" class="key">
        <kbd class="key--name">a</kbd>
        <span class="key--sound">Clap</span>
    </div>
    <div data-key="83" class="key">
        <kbd class="key--name">s</kbd>
        <span class="key--sound">Kick</span>
    </div>
    <div data-key="68" class="key">
        <kbd class="key--name">d</kbd>
        <span class="key--sound">Hi-Hat</span>
    </div>
    <div data-key="70" class="key">
        <kbd class="key--name">f</kbd>
        <span class="key--sound">Ride</span>
    </div>
    <div data-key="71" class="key">
        <kbd class="key--name">g</kbd>
        <span class="key--sound">Toms</span>
    </div>
    <div data-key="72" class="key">
        <kbd class="key--name">h</kbd>
        <span class="key--sound">Kick-Snare</span>
    </div>
    <div data-key="74" class="key">
        <kbd class="key--name">j</kbd>
        <span class="key--sound">Crash</span>
    </div>
    <div data-key="75" class="key">
        <kbd class="key--name">k</kbd>
        <span class="key--sound">Bottle</span>
    </div>
    <div data-key="76" class="key">
        <kbd class="key--name">l</kbd>
        <span class="key--sound">Snare</span>
    </div>
</div>
<audio data-key="65" src="media/sounds/Clap-3.wav"></audio>
<audio data-key="83" src="media/sounds/Bass-Drum-1.wav"></audio>
<audio data-key="68" src="media/sounds/Closed-Hi-Hat-1.wav"></audio>
<audio data-key="70" src="media/sounds/E-Mu-Proteus-FX-Wacky-Ride-Cymbal.wav"></audio>
<audio data-key="71" src="media/sounds/Electro-Tom.wav"></audio>
<audio data-key="72" src="media/sounds/Kick-Snare.wav"></audio>
<audio data-key="74" src="media/sounds/Yamaha-TG100-Crash-Cymbal-2.wav"></audio>
<audio data-key="75" src="media/sounds/Bottle.wav"></audio>
<audio data-key="76" src="media/sounds/E-Mu-Proteus-FX-Wacky-Snare.wav"></audio>

<script src="script.js"></script>
</body>
</html>